@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


.background-container--img1{
    background-image: url(img/showcase.jpg);
    background-position: 50% 50%;
    width: 100%;
    height:350px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    background-color:#35424A;
    height: 64px;
    width: 100%;
    border-bottom: 3px solid #874C8E;
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 1rem;

}

.nav-left{
    display:inline-flex;
    align-items: center;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    font-size:24px;
    gap: 6px;

}

.nav-right {
    display: inline-flex;
    justify-items: center;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    flex-grow: 0.1;
    padding: 0 1rem;
    font-size: 12px;
}    

.span-left{
    color: white;
}

.cla{
    color:#874C8E;

}

a{
    color: white;
}

.home{
    color:#874C8E;
    font-size: 16px;
}

.heading-container__heading-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height:90px;
    padding: 0 0 2rem 0;
}

.heading-container__heading-lorem{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 19px;
}

.sub-send{
    display:flex;
    position: relative;
    background-color:#35424A ;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content:space-between;
}

.sub-text{
    font-size: 18px;
    color: white;
    padding: 0 0 0 1rem;
}

.mail-btn{
    padding: 0 8px;
}

.email{
    font-size: 13px;
    height: 30px; 
    width: 250px;
    color: rgb(151, 151, 151);
}

.reset{
    background-color: red;
    border: none;
    color: white;
    font-size: 11px;
    height: 29px;
    width: 66px;
    cursor: pointer;
}

.section-info{
    display: flex;
    justify-content:space-around;
    align-items: center;
    justify-items: center;
}

.info-image{
    max-height: 96px;
    max-width: 96px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
}

.info{
    display: flex;
    justify-content:space-around;
    opacity: 0.4;
    padding: 0 0 2rem 0;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.info:hover{
    transform: scale(1.2);
    transition-duration: 1s;
    opacity: 1;
    font-size:16px ;
}

.html ,.css,.grafik{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height:225px;
    max-width:430px;
    min-height: auto;
    min-width: auto;
    margin: 30px 30px;
    flex-wrap: wrap;
}

footer{
    background-color:#35424A;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-yazi{
    height: 19px;
    padding-top: 10px;
    padding-bottom:20px ;
}







 .intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #35424A;
    transition: 1s;
 }

 .logo-header{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
 }

 .logo{
    position:relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

 }

 .logo.active{
    bottom: 0;
    opacity: 1;
    transition:ease-in-out 0.5s;


 }

 .logo.fade{
    bottom: 150px;
    opacity: 0;
    transition:ease-in-out 0.5s;
 }